*
!.gitignore
!plugins/
!plugins/package.json
!plugins/omp-plugins.lock.json
!agent/
!agent/extensions/
!plugins/installed_plugins.json
!agent/extensions/**/*
agent/extensions/node_modules
agent/extensions/README.md
!agent/AGENTS.md
!agent/SYSTEM.md
!agent/RULES.md
!agent/config.yml
!agent/mcp.json