*
!.gitignore
!plugins/package.json
!plugins/omp-plugins.lock.json
!agent/
!agent/extensions/
!plugins/installed_plugins.json
!agent/extensions/*
agent/extensions/node_modules
!agent/AGENTS.md
!agent/SYSTEM.md
!agent/config.yml
!agent/mcp.json